/*
	Main CSS stylesheet for CAS 

*/

/* IcoMoon Icon Import */
@import url(../icomoon/style.css);

/* ---- BASICS ---- */

html{
	font-family: "Montserrat";
	height: 100%;
}


body{
	font-size: 14px;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	height: inherit;
	
}

/* Wrapper for content  */
div.content-wrapper{
	margin: 0 auto;
	max-width: 1024px;
	height: inherit;
	width: 100%;
	background: #F2F5F9;
}



@media only screen and (max-width: 768px) {
	
	div.content-wrapper{
		position: absolute;
		z-index: 9999;	
		top: 370px;
		transition: .2s;
	}
		
	}	

/* ----- HEADER ----- */

section.header{
	width: 100%;
	height: 70px;
	background: #2174a8;
}

section.header img{
	height: 40px;
	width: 40px;
	position: absolute;
	left: 0;
}

section.header header{
	max-width: 1024px;
	margin: 0 auto;
}

a.toggle-nav{
	color: white;
	display: none;
}

@media only screen and (max-width: 768px) {


	section.header{
		position: absolute;
		z-index: 9999;	
		transition: .2s;
	}
	
	section.header img{
		margin: 0 auto;
		display: block;
		position: inherit;
	}
	
	
	
	a.toggle-nav{
		display: block;
	}
	
}

/* ----- HERO ----- */


/* ----- MENU ----- */

nav.menu{
	margin: 0 auto;
	position: absolute;
	line-height: 70px;
	top:0;
	right: 0;
	width: 100%;
	max-width: 1024px;
}

nav.menu ul{
	margin: 0;
	text-align: right;
}

nav.menu ul li{
	display: inline;
	list-style-type: none;
	padding: 0 1em;
}

nav.menu li a{
	text-decoration: none;
	color: white;
}

.slide{
	-ms-transform: translate(0,0);
	-webkit-transform: translate(0,0);
	transform: translate(0,0);
}


@media only screen and (max-width: 768px) {
	
	nav.menu{
		position: fixed;
		left: 0;
		right: auto;
		background: blue;
	}
	
	.slide{
	-ms-transform: translate(250px,0);
	-webkit-transform: translate(250px,0);
	transform: translate(250px,0);
}

}


@media only screen and (max-width: 768px) {
	
	
	
}

/* ----- Hero ----- */

section.hero{
	position: relative;
	min-width: 100%;
	width: 100%;
	height: 450px;
	overflow: hidden;
}

div.video-container{
	min-width: 100%;
}

video{
	min-width: 100%;
	background: url('../images/background.jpg') top center no-repeat;
	background-size: cover;
}

/* Overlay for video */
div.video-overlay{
/*	background: linear-gradient(45deg, #f36921 12%,#242b4b 72%);*/
	opacity: .85;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
}

.herooverlay {
	position: absolute;
	width: 393px;
	background-color: #1e354d;
	opacity: .88;
	z-index: 1000;
	top: 5.71428571428571em;
	right: 9.42857142857143em;
	padding: 1.785714285em 2.42857142857143em 1.785714285em;
	color: #e7e7e7;
}

.herooverlay h1 {
	font-size: 1.785714285em;
}

.herooverlay h2 {
	font-size: 1em;
}


@media only screen and (max-width: 768px) {
	
	section.hero{
		position: absolute;
		top: 70px;
		z-index: 9999;
	}
}

section.hero > video{
	min-width: 100%;
}


/* --- CONTENT ---- */


/* Expander */

article.expand{
	border-bottom: 1px solid black;

	cursor:  pointer;
}

article.expand p{
	margin: 0;
	padding: 1em 0;
}

article.expand span{
	float: right;
}

article.expand div{
	display: none;
}

article.expand h4{
	margin: 0;
	padding: 1.5em 0;
}

.arrow-flip{
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
}


.icon-arrow-down{
	transition: .2s;
	font-size: 1.8em;
	margin-top: -3px;
}


@media only screen and (max-width: 768px) {
	
	nav.menu{
		position: fixed;
		left: 0;
		top: 0;
		width: 250px;
		height: 100%;
		
	}		
	
	nav.menu ul li{
		display: inherit;
	}
	
	nav.menu ul{
	text-align: left;
	}
}

/* Clearfix */

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}
 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}