/*
	Main CSS stylesheet for CAS 

*/

/* IcoMoon Icon Import */
@import url(../icomoon/style.css);

/* ---- BASICS ---- */

html{
	font-family: "Montserrat";
	padding: 0;
    margin: 0;
	height: 100%;
}


body{
	font-size: 14px;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	height: 100%;
	padding: 0;
    margin: 0;
	
}

/* Wrapper for content  */
div.content-wrapper{
	margin: 0 auto;
	max-width: 1024px;
	height: inherit;
	width: 100%;
	/*padding-bottom: 50px;*/
/*	background: #F2F5F9;*/

}


@media only screen and (max-width: 768px) {
	
	div.content-wrapper{
		position: absolute;
		z-index: 9999;	
		top: 370px;
		transition: .2s;
	}
		
	}	

/* ----- HEADER ----- */

section.header{
	width: 100%;
	height: 70px;
	background: #2174a8;
}

section.header img{
	height: 70px;
	width: 70px;
	position: absolute;
	left: 0;
}

section.header header{
	max-width: 1024px;
	margin: 0 auto;
}

a.toggle-nav{
	color: white;
/*	display: none;*/
}


@media only screen and (max-width: 768px) {


	section.header{
		position: absolute;
		z-index: 9999;	
		transition: .2s;
	}
	
	section.header img{
		margin: 0 auto;
		display: block;
		position: inherit;
	}
	
	
	
	a.toggle-nav{
		display: block;
	}
	
}

/* ----- HERO ----- */


/* ----- MENU ----- */

nav.menu{
	margin: 0 auto;
	position: absolute;
	line-height: 70px;
	top:0;
	right: 0;
	width: 100%;
	max-width: 1024px;
}

nav.menu ul{
	margin: 0;
	text-align: right;
}

nav.menu ul li{
	display: inline;
	list-style-type: none;
	padding: 0 1em;
}

nav.menu li a{
	text-decoration: none;
	color: white;
}

.slide{
	-ms-transform: translate(0,0);
	-webkit-transform: translate(0,0);
	transform: translate(0,0);
}


@media only screen and (max-width: 768px) {
	
	nav.menu{
		position: fixed;
		left: 0;
		right: auto;
		background: blue;
	}
	
	.slide{
	-ms-transform: translate(250px,0);
	-webkit-transform: translate(250px,0);
	transform: translate(250px,0);
}

}


@media only screen and (max-width: 768px) {
	
	
	
}

/* ----- Hero ----- */

section.hero{
	position: relative;
	min-width: 100%;
	width: 100%;
	height: 450px;
	overflow: hidden;
}

div.video-container{
	min-width: 100%;
}

video{
	min-width: 100%;
	background: url('../images/background.jpg') top center no-repeat;
	background-size: cover;
}

/* Overlay for video */
div.video-overlay{
/*	background: linear-gradient(45deg, #f36921 12%,#242b4b 72%);*/
	opacity: .85;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
}

.herooverlay {
	position: absolute;
	width: 393px;
	background-color: #1e354d;
	opacity: .88;
	z-index: 1000;
	top: 5.71428571428571em;
	right: 9.42857142857143em;
	padding: 1.185714285em 2.42857142857143em 1.785714285em;
	color: #e7e7e7;
}

.herooverlay h1 {
	font-size: 1.785714285em;
	text-align: center;
}

.herooverlay h2 {
	font-size: 1.05em;
	text-align: center;
	line-height: 1.6;
}

.herooverlay p {

}

@media only screen and (max-width: 768px) {
	
	section.hero{
		position: absolute;
		top: 70px;
		z-index: 9999;
	}
}

section.hero > video{
	min-width: 100%;
}


/* --- CONTENT ---- */

/*landingpage.php*/

.mission {
	padding: 2.95454545454545em 0 4.5em 0;
	border-bottom: 1px solid #d2d0d0;
}
.mission h2 {
	min-width: 795px;
	text-align: center;
	font-size: 1.57142857142857;
	color: #686868;
	line-height: .3;

}

.mission p {
	width: 795px;
	padding: 1em 0 1em 0;
	font-size: 1em;
	color: #686868;
	margin: 0 auto;
	text-align: justify;
}

.values {
	margin: 3.57142857142857em 0 0 0;
	border-bottom: 1px solid #d2d0d0;
}

.values img {
	width: 462px;
	height: 374px;
	float: left;
		padding: 1.8em 2.35em 0 0em;
}

.values-content {
	width: 40%;
	float: left;
	margin-bottom: 6.57142857142857em;
	line-height: 1.5;

}

.values-content.right {
	padding: 0 0 0 1.5em;
}

.values-content.left{
		padding: 0 6.3em 0 1em;
}

.values-content h2 {
	font-size: 2em;
	color: #494949;
}

.values-content p {
	font-size: 1em;
	color: #686868;
}


/* Expander */

.articleblock {
	margin: 8em 0 28% 0;

}

article {
	margin: 0 auto;
}

article.expand{
	width: 80%;
	border-bottom: 1px solid black;
	cursor:  pointer;
}

article header {
	
	-webkit-border-radius: 4px/5px;
	-moz-border-radius: 4px/5px;
	border-radius: 4px/5px;
	background-color: #1972aa;
	-webkit-box-shadow: inset 0 2px rgba(255,255,255,.24);
	-moz-box-shadow: inset 0 2px rgba(255,255,255,.24);
	box-shadow: inset 0 2px rgba(255,255,255,.24);
	border: solid 1px #0b4f7a;
	background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.07), rgba(255,255,255,.07));
	background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.07), rgba(255,255,255,.07));
	background-image: -o-linear-gradient(bottom, rgba(0,0,0,.07), rgba(255,255,255,.07));
	background-image: linear-gradient(to top, rgba(0,0,0,.07), rgba(255,255,255,.07));

}

article.expand p{
	margin: 0;
	padding: 1em 4% 1em 2%;
}

article.expand span{
	float: right;
}

article.expand div{
	display: none;
}

article.expand h4{
	margin: 0;
	padding: 1.5em 0 1.5em 1.5em;
	font-size: 1.42857142857143em;
	color: #efefef;
}
.imagecaption {
	max-width: 640px;
	font-size: .9em; 
}

.description {
	font-size: 1em;
}

.article-body img {
	padding-left: 1em;
}

.title {
	font-size: 2em;
}

.arrow-flip{
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
}


.icon-arrow-down{
	color: #5eb9ea;
	transition: .2s;
	font-size: 1.8em;
	margin-top: -3px;
}


@media only screen and (max-width: 768px) {
	
	nav.menu{
		position: fixed;
		left: 0;
		top: 0;
		width: 250px;
		height: 100%;
		
	}		
	
	nav.menu ul li{
		display: inherit;
	}
	
	nav.menu ul{
	text-align: left;
	}
}

/* Footer */

.main {
	/*height: 100%;*/
	padding-bottom: 50px;
}

footer {
	bottom: 0;
	position: relative;
	width: 100%;
	height: 65px;
	margin-top: -60px;
	clear: both;
	background-color: #ececec;
	-webkit-box-shadow: inset 0 1px rgba(210,208,208,.57);
	-moz-box-shadow: inset 0 1px rgba(210,208,208,.57);
	box-shadow: inset 0 1px rgba(210,208,208,.57);
	background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.06), rgba(255,255,255,.06));
	background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.06), rgba(255,255,255,.06));
	background-image: -o-linear-gradient(bottom, rgba(0,0,0,.06), rgba(255,255,255,.06));
	background-image: linear-gradient(to top, rgba(0,0,0,.06), rgba(255,255,255,.06));
}


footer h4{
	font-size: 0.92857142857143em;
	color: #4e4e4e;
	float: left;

}

.copyright {
	margin-left: 4em;
}


.legal {
	text-align: center;
	margin: 1.2em 4% 0 0;
}

footer a {

	float: right;
	list-style-type: none;
	text-decoration: none;
	display: inline;
	color: #4e4e4e;
	padding: 0 5px;
	height: 1.5em;
}

.policy {
	border-right: 1px solid #4e4e4e;
}

/* Clearfix */

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}
 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}