/*
	Main CSS stylesheet for CAS 

*/



/* ---- BASICS ---- */

html{
	
	
}


body{
	font-family: verdana, helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
}

/* Wrapper for content  */
div.content-wrapper{
	margin: 0 auto;
	max-width: 1024px;
	height: 700px;
	width: 100%;
	background: #F2F5F9;
}



@media only screen and (max-width: 768px) {
	
	div.content-wrapper{
		position: absolute;
		z-index: 9999;	
		top: 70px;
		transition: .2s;
	}
		
	}	

/* ----- HEADER ----- */

section.header{
	width: 100%;
	height: 70px;
	background: #8A99B5;
}

section.header img{
	height: 40px;
	width: 40px;
}

section.header header{
	max-width: 1024px;
	margin: 0 auto;
}

a.toggle-nav{
	color: white;
	display: none;
}

@media only screen and (max-width: 768px) {
	
	section.header{
		position: absolute;
		z-index: 9999;	
		transition: .2s;
	}
	
	
	a.toggle-nav{
		display: block;
	}
	
}

/* ----- MENU ----- */

nav.menu{
	margin: 0 auto;
	position: absolute;
	line-height: 70px;
	top:0;
	right: 0;
	width: 100%;
	max-width: 1024px;
}

nav.menu ul{
	margin: 0;
	text-align: right;
}

nav.menu ul li{
	display: inline;
	list-style-type: none;
	padding: 0 1em;
}

nav.menu li a{
	text-decoration: none;
	color: white;
}

.slide{
	-ms-transform: translate(250px,0);
	-webkit-transform: translate(250px,0);
	transform: translate(250px,0);
}


@media only screen and (max-width: 768px) {
	
	nav.menu{
		position: fixed;
		left: 0;
		right: auto;
		background: blue;
	}
	
	.slide{
		-ms-transform: translate(0,0);
		-webkit-transform: translate(0,0);
		transform: translate(0,0);
}


}

/* --- CONTENT ---- */


/* Expander */

article.expand{
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	cursor:  pointer;
}

article.expand p{
	margin: 0;
	padding: 1em 0;
}

article.expand span{
	float: right;
}

article.expand div{
	display: none;
}



@media only screen and (max-width: 768px) {
	
	nav.menu{
		position: fixed;
		left: 0;
		top: 0;
		width: 250px;
		height: 100%;
		
	}		
	
	nav.menu ul li{
		display: inherit;
	}
	
	nav.menu ul{
	text-align: left;
	}
}